#header{

    background: greenyellow;
    border: solid;

}

#col1{

    background: red;
    border: solid;
    height: 200px;

}

#col2{

    background: red;
    border: solid;
    height: 200px;

}

#col3{

    background: red;
    border: solid;
    height: 200px;

}

#foo1{

    background: yellow;
    border: solid;

}

#foo2{

    background: yellow;
    border: solid;

}