#col1{

    background-color: aqua;

}

#col2{

    background-color: rgb(9, 111, 111);

}

#col3{

    background-color: rgb(14, 116, 116);

}

#col4{

    background-color: rgb(5, 29, 29);

}