#col1{

    background-color: khaki;

}

#col2{

    background-color: rgb(182, 166, 23);

}

#col3{

    background-color: rgb(130, 119, 20);

}

#col4{

    background-color: rgb(60, 55, 12);

}