#header{

    background: greenyellow;
    border: solid;
    height: 50px;

}

#col1{

    background: red;
    border: solid;
    height: 430px;

}

#col2{

    background: rgb(209, 101, 119);
    border: solid;
    height: 80px;

}

#col3{

    background: rgb(247, 220, 199);
    border: solid;
    height: 150px;

}

#col4{

    background: rgb(247, 220, 199);
    border: solid;  
    height: 150px;  

}

#col5{

    background: blue;
    border: solid;
    height: 100px;  

}

#col6{

    background: blue;
    border: solid;
    height: 100px; 

}

#col7{

    background: blue;
    border: solid;
    height: 100px; 

}

#col8{

    background: blue;
    border: solid;
    height: 100px; 

}

#col9{

    background: blue;
    border: solid;
    height: 100px; 

}

#col10{

    background: blue;
    border: solid;
    height: 100px; 

}

#col11{

    background: blue;
    border: solid;
    height: 100px; 

}

#col12{

    background: blue;
    border: solid;
    height: 100px; 

}

#col13{

    background: blue;
    border: solid;
    height: 100px; 

}

#col14{

    background: blue;
    border: solid;
    height: 100px; 

}

#foo{

    background: greenyellow;
    border: solid;

}